/* styles.css */

h2{
color: #d4edf4;
}


.navbar {
background-color: #202223;
padding: 30px;
text-align: center;
color:black
}

.navbar a {
    background: #696666;
    padding: 3px;
    border-radius: 9px;
    color: #fff;
    margin: 3px;
    text-decoration: none;
    margin-right: 10px;
}

.navbar a:hover {
    color: #a6a6a6;
    padding: 4px;
    text-decoration: none;
    margin-right: 10px;
}

.navbar a.active {
    color: #3dc374;
    font-weight: bold;
    color:#3dc374
  }

.navbar a.active:hover {
    font-weight: bold;
    color:#1c8848
  }

body {
    font-family: Arial, sans-serif;
    background-color: #202223;
}


h1 {
    color: #d4edf4;
    font-size: 50px;

}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

#collection-select {
    width: 200px;
    padding: 5px;
}

input[type="text"] {
    border: 1px solid #ffffff;
    background: #6ac0fdb5;
    border-radius: 8px;
    padding: 8px;
}
#collection-select {
    appearance: none;
    background-color: #c9d8dbb5;
    border: 1px solid #6ac0fd;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#collection-select:hover {
    background-color: #e0e0e0;
}

#collection-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #aaa;
}

label {
    font-weight: bold; /* Imposta il testo in grassetto */
    color: #fff; /* Imposta il colore del testo */
    font-size: 16px; /* Imposta la dimensione del testo */
    margin-right: 10px; /* Aggiunge uno spazio a destra tra la label e l'elemento di input/select */
}
#fields-container {
    margin-top: 10px;
    border-collapse: collapse;
}


.field td {
    padding: 5px;
}

.add-field-button {
    margin-top: 10px;
}

.remove-field {
    border-radius: 9px;
    background-color: #e33321;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.remove-field:hover{
    background-color: #673735;
}

input[type="text"],
select {
    background: #c6d5dae6;
    border-radius: 9px;
    color: #ffffff;
    padding: 5px;
    width: 130px;
}
#add-field{
    border-radius: 9px;
    background-color: rgb(0 170 229);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Aggiungi questa riga per l'effetto di transizione */
}
#add-field:hover {
    background-color: #18fff7; /* Colore differente quando si passa sopra il pulsante */
}

input[type="submit"] {
    border-radius: 9px;
    background-color: #26de73;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Aggiungi questa riga per l'effetto di transizione */
}

a{
border-radius: 9px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2f774d; /* Colore differente quando si passa sopra il pulsante */
}
#media{
    color:#f61c1c
}

#landing-container.container {
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #c6d5da;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#landing-title {
    color: #5d757c;
    font-size: 40px;
    margin-bottom: 30px;
}

#landing-description {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}

#popcorn-img {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
    animation: swing-animation 2s infinite;
    transform-origin: bottom center;
}

@keyframes swing-animation {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}
