<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <title>Create Object</title>
</head>

<body>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add-document">Add document</a>
        <a href="/search">Search</a>
        <a href="/statistics">Statistics</a>
    </div>>

<h1>Update Object</h1>
<form action="/apply-update/{{collection_name}}/{{object_id}}" method="POST">
    <table>
        <tbody id="fields-container">

        </tbody>
    </table>
        <input id="add-field" class="blue-button" value="Add Field" type="button">
    <input type="submit" value="Submit">
    <template id="fieldTemplate">
        <tr>
            <td><label>Field name:</label></td>
            <td><input name="field_name[]" required type="text"></td>
            <td><label>Field Value:</label></td>
            <td><textarea name="field_value[]" style="width: 250px;"></textarea></td>
            <td>
                <input class="remove-field" type="button" value="Remove">
            </td>
        </tr>
    </template>

    <script>

        function setFieldValues(fieldName, fieldValue) {
            const div = document.createElement('div');
            div.innerHTML = fieldName;
            const unfieldName = div.textContent;
            div.innerHTML = fieldValue;
            const unfieldValue = div.textContent;

            const fieldTemplate = document.getElementById('fieldTemplate');
            const field = fieldTemplate.content.cloneNode(true);

            // Set field_name[] value
            const fieldNameInput = field.querySelector('input[name="field_name[]"]');
            fieldNameInput.value = unfieldName;

            // Set field_value[] value
            const fieldValueTextarea = field.querySelector('textarea[name="field_value[]"]');
            fieldValueTextarea.value = unfieldValue;

            return field;
        }
        const fieldsContainer = document.getElementById("fields-container");

        document.getElementById("add-field").addEventListener("click", function () {
            const field = setFieldValues("","");
            fieldsContainer.appendChild(field);
        });

        document.addEventListener("click", function (event) {
            if (event.target && event.target.classList.contains("remove-field")) {
                const field = event.target.parentNode.parentNode;
                field.parentNode.removeChild(field);
            }
        });

    </script>
    {% for key, value in collection|sort_dict %}
        <script>fieldsContainer.appendChild(setFieldValues("{{key}}","{{value}}"));</script>
    {% endfor %}
</form>
</body>

</html>