<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Search document</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add-document">Add document</a>
        <a href="/search" class="active">Search</a>
        <a href="/statistics">Statistics</a>
    </div>
    <h1>Search document</h1>
    <form action="/apply-search" id="object-form" method="get">
        <table>
            <tr>
                <td>
                    <input hidden="hidden" name="page" type="number" value="1">
                    <label for="collection-select">Tabella</label><select id="collection-select" name="table"
                        onchange="fetchFields()">

                        {% for colle in col %}
                        <option value="{{colle}}">{{ colle }}</option>
                        {% endfor %}
                        <!-- Add more options for other collections -->
                    </select>
                </td>
                <td>
                    <label for="order-by-select">Order by:</label>
                </td>
                <td>
                    <div id="order-by-select">&nbsp;</div>
                </td>
                <td>
                    <label for="order-by-desc">Descending order?</label>
                    <input type="checkbox" name="order-desc" id="order-by-desc">
                </td>
            </tr>
        </table>
        <table id="fields-container"></table>

        <button id="add-field" type="button">Add Field</button>
        <br><br>
        <input type="submit" value="Search document">
    </form>

    <script>

        function createSelectWithOptions(options) {
            options.push("_id");
            options.sort();
            // Create the <select> element
            const selectElement = document.createElement("select");
            selectElement.name = "field_name[]";
            // Iterate over the options array and create <option> elements
            for (let i = 0; i < options.length; i++) {
                const option = document.createElement("option");
                option.text = options[i];
                option.value = options[i];
                selectElement.appendChild(option);
            }


            // Return the generated <select> element
            return selectElement;
        }

        let genericSelect;

        function fetchFields() {
            const selectedCollection = document.getElementById("collection-select").value;

            // Clear fields container
            document.getElementById("fields-container").innerHTML = "";

            if (selectedCollection !== "") {
                // Make AJAX request to fetch fields for selected collection
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        const fieldsContainer = document.getElementById("fields-container");
                        const fields = JSON.parse(xhr.responseText);

                        genericSelect = createSelectWithOptions(fields);
                        const orderSelect = document.getElementById("order-by-select");

                        const order = genericSelect.cloneNode(true);
                        order.name = "order-field"
                        orderSelect.removeChild(orderSelect.firstChild);
                        orderSelect.appendChild(order);

                        while (fieldsContainer.firstChild) {
                            fieldsContainer.removeChild(fieldsContainer.firstChild);
                        }
                    }
                };
                xhr.open("GET", "/get-fields?collection=" + selectedCollection, true);
                xhr.send();
            }
        }
        fetchFields();
        // Add field on button click
        document.getElementById("add-field").addEventListener("click", function () {
            const fieldsContainer = document.getElementById("fields-container");
            const field = document.createElement("tr");
            field.className = "field";
            field.innerHTML = '<td><label>Field Name:</label></td><td>' + genericSelect.outerHTML + '</td>' +
                '<td><select name="field_operation[]" required>\n' +
                '        <option value="$eq">=</option>\n' +
                '        <option value="$ne">&#8800;</option>\n' +
                '        <option value="$gt">&gt;</option>\n' +
                '        <option value="$gte">&#8805;</option>\n' +
                '        <option value="$lt">&lt;</option>\n' +
                '        <option value="$lte">&#8804;</option>\n' +
                '        <option value="$in">&#8712;</option>\n' +
                '        <option value="$nin">&#8713;</option>\n' +
                '        <option value="containsIgnoreCase">contains</option>\n' +
                '    </select></td>' +
                '<td><label>Field Value:</label></td><td><input type="text" name="field_value[]" required> </td>' +
                '<td><button class="remove-field">Remove</button></td>';
            fieldsContainer.appendChild(field);
        });

        // Remove field on button click
        document.addEventListener("click", function (event) {
            if (event.target && event.target.classList.contains("remove-field")) {
                const field = event.target.parentNode.parentNode;
                field.parentNode.removeChild(field);
            }
        });
    </script>
</body>

</html>