<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <link href="/static/jsmaps/jsmaps.css" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        li, h3,h4 {
            color: white
        }

        #world-map {
            width: 50%; /* Imposta la larghezza al 50% del contenitore */
            float: left; /* Posiziona il div a sinistra */
        }

        #testo {
            width: 50%; /* Imposta la larghezza al 50% del contenitore */
            margin-left: 25%;
        }

        #testo {
            background: #c6612c;
            border-radius: 10px;
            padding: 3px;
            width: 50%; /* Imposta la larghezza al 50% del contenitore */
        }
    </style>
    <title>Statistics</title>
</head>

<body>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/add-document">Add document</a>
    <a href="/search">Search</a>
    <a class="active" href="/statistics">Statistics</a>
</div>
<div style="width:48%; display:inline;float: left">
    <h2>Average revenue for genre:</h2>
    <form action="/statistics/average-revenue" id="media-form" method="get">
        <label for="genere">Scegli genere:</label>
        <select id="genere" name="genre">
            {% for genre_item in genre_list %}
            {% if genre_item==genre %}
            <option selected="selected" value="{{ genre_item }}">{{ genre_item }}</option>
            {% else %}
            <option value="{{ genre_item }}">{{ genre_item }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Show average">
    </form>
    <p id="media"></p>

    <canvas id="histogram"></canvas>
</div>
<div style="width:48%; display:inline;float: right">
    <h2>Popular genres for country:</h2>
    <div class="jsmaps-wrapper" id="world-map"></div>
</div>
<script>
    document.getElementById('media-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form submission

        // Get form data
        const formData = new FormData(this);
        const genre = formData.get("genre");
        // Send AJAX request
        fetch('/statistics/media?genre=' + encodeURI(genre), {
            method: 'GET'
        })
            .then(function (response) {
                if (response.ok) {
                    // Request successful, process the response
                    // You can display a success message or perform any other actions
                    return response.json();
                } else {
                    // Request failed, handle the error
                    console.error('Form submission failed');
                }
            })

            .then(function (data) {
                const average = parseFloat(data);
                // Process the JSON response
                document.getElementById("media").innerText = "Average revenue for " + formData.get("genre") + ": " + average.toFixed(2);
                updateChartAnnotations(average, genre);
                // You can access the data fields and perform any necessary actions
            })
            .catch(function (error) {
                // Network error or request failed
                console.error('Error:', error);
            });
    });
</script>
<script src="/static/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
<script src="/static/jsmaps/jsmaps-panzoom.js" type="text/javascript"></script>
<script src="/static/jsmaps/jsmaps.min.js" type="text/javascript"></script>
<script src="/static/jsmaps/world.js" type="text/javascript"></script>
<script type="text/javascript">

    function toGood(country_name, obj) {
        if (!obj) return "";

        // Create the wrapping div element
        const div = document.createElement('div');
        div.id = 'testo';

        // Create the movie count heading element
        const movieCountHeading = document.createElement('h3');
        movieCountHeading.textContent = 'Movie Count in ' + country_name + ': ' + obj["movie_count"];
        movieCountHeading.style.marginBottom = '5px'; // Adjust the value as per your preference
        // Create the popular genres heading element
        const popularGenresHeading = document.createElement('h4');
        popularGenresHeading.textContent = 'Popular genres:';
        popularGenresHeading.style.marginBottom = '5px'; // Adjust the value as per your preference
        popularGenresHeading.style.marginTop = '5px'; // Adjust the value as per your preference
        // Create the genres list element
        const genresList = document.createElement('ul');
        obj["top_genres"].forEach(function (genre) {
            const listItem = document.createElement('li');
            listItem.textContent = genre.genre + ' (' + genre.count + ')';
            genresList.appendChild(listItem);
        });

        // Append the elements to the wrapping div
        div.appendChild(movieCountHeading);
        div.appendChild(popularGenresHeading);
        div.appendChild(genresList);

        return div;
    }

    const mapJson = JSON.parse('{{ map_data|tojson }}');
    window.JSMaps.maps.world.config.defaultText = "";
    for (let i = 0; i < window.JSMaps.maps.world.paths.length; i++) {
        const item = window.JSMaps.maps.world.paths[i];
        const abbr = item["abbreviation"];
        const targetIndex = mapJson.findIndex(function (obj) {
            return obj["country"] === abbr;
        });
        if (targetIndex === -1) {
            item["enable"] = false;
            continue;
        }

        item["text"] = toGood(item["name"], mapJson[targetIndex]).outerHTML;
    }


    $(function () {
        $('#world-map').JSMaps({
            map: 'world', //Use any map as named in the maps folder e.g. usa
            enablePanZoom: false
        });
    });


</script>


<script>
    const genresRevenues = JSON.parse('{{ genres_revenue_10|tojson }}');
    const labels = genresRevenues.map(item => item._id);
    const data = genresRevenues.map(item => item.averageRevenue);

    const ctx = document.getElementById('histogram').getContext('2d');
    const chartData = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Average Revenue',
                data: data,
                borderColor: 'rgba(255, 255, 255, 0.5)',
                backgroundColor: 'rgba(255, 255, 255, 0.8)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
            y: {
                beginAtZero: true,
                grid: {
                    color: 'rgba(255, 255, 255, 0.4)' // Set grid color to white
                }
            },
            x: {
                grid: {
                    color: 'rgba(255, 255, 255, 0.4)' // Set grid color to white
                }
            }
        },
            plugins: {
                annotation: {
                    annotations: {
                        line1: {
                            type: 'line',
                            borderColor: 'red',
                            borderWidth: 0
                        }
                    }
                }
            }
        }
    };

    const chart = new Chart(ctx, chartData);
    updateChartAnnotations(-1,"");
    function generateBackgroundColorArray(targetIndex) {
        const backgroundColors = Array(chartData.data.labels.length).fill('rgba(0, 123, 255, 0.5)'); // Default color for all bars
        if (targetIndex !== -1) {
            backgroundColors[targetIndex] = 'rgba(255, 0, 0, 0.5)'; // Custom color for the specified index
        }
        return backgroundColors;
    }

    function updateChartAnnotations(lineY, genre) {
        // Update the yMin and yMax values in the chart options
        if(lineY>=0) {
            chartData.options.plugins.annotation.annotations.line1.yMin = lineY;
            chartData.options.plugins.annotation.annotations.line1.yMax = lineY;
            chartData.options.plugins.annotation.annotations.line1.borderWidth = 2;
        }
        chartData.data.datasets[0].backgroundColor = generateBackgroundColorArray(labels.indexOf(genre));
        // Update the chart
        chart.update();
    }

</script>
</body>

</html>