<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
    <title>Lista con bottone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h2>Seleziona un elemento dalla lista:</h2>
<form action="/statistics/average-revenue" method="get">
    <label for="genere">Scegli genere:</label>
    <select id="genere" name="genre">
        {% for genre_item in genre_list %}
        {% if genre_item==genre %}
        <option selected="selected" value="{{ genre_item }}">{{ genre_item }}</option>
        {% else %}
        <option value="{{ genre_item }}">{{ genre_item }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Mostra media">
</form>
<p id="media">{{average_revenue}}$  ({{genre}})</p>

<canvas id="histogram"></canvas>

<script>
    const genresRevenues = JSON.parse('{{ genres_revenue_10|tojson }}');
    const labels = genresRevenues.map(item => item._id);
    const data = genresRevenues.map(item => item.averageRevenue);

    const averageRevenue = {{average_revenue}};



    const ctx = document.getElementById('histogram').getContext('2d');
    const chartData = {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Media Revenue',
                data: data,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                annotation: {
                    annotations: {
                        line1: {
                            type: 'line',
                            yMin: averageRevenue, // The y-value at which the line starts
                            yMax: averageRevenue, // The y-value at which the line ends
                            borderColor: 'red',
                            borderWidth: 2
                        }
                    }
                }
            }
        }
    };
    const params = new URLSearchParams(window.location.search);
    const testValue = params.get('genre');
    chartData.data.datasets[0].backgroundColor = generateBackgroundColorArray(labels.indexOf(testValue));
    const chart = new Chart(ctx, chartData);

    function generateBackgroundColorArray(targetIndex) {
        const backgroundColors = Array(chartData.data.labels.length).fill('rgba(0, 123, 255, 0.5)'); // Default color for all bars
        if (targetIndex !== -1) {
            backgroundColors[targetIndex] = 'rgba(255, 0, 0, 0.5)'; // Custom color for the specified index
        }
        return backgroundColors;
    }

</script>
</body>
</html>
