<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <title>Lista con bottone</title>
</head>
<body>
  <h2>Seleziona un elemento dalla lista:</h2>
  <form method="get" action="/statistics/average-revenue">
  <label for="genere">Scegli genere:</label>
  <select id="genere" name="genre">
    {% for genre_item in genre_list %}
      {% if genre_item==genre %}
        <option selected="selected" value="{{ genre_item }}">{{ genre_item }}</option>
      {% else %}
        <option value="{{ genre_item }}">{{ genre_item }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <br><br>
    <input type="submit" value="Mostra media">
  </form>
  <p id="media">{{average_revenue}}</p>

  <canvas id="histogram"></canvas>

  <script>
    var genresRevenues = JSON.parse('{{ genres_revenue_10|tojson }}');
    var labels = genresRevenues.map(item => item._id);
    var data = genresRevenues.map(item => item.averageRevenue);

    var averageRevenue = {{ average_revenue }};

    var ctx = document.getElementById('histogram').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [{
          label: 'Media Revenue',
          data: data,
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              callback: function(value) {
                if (value === averageRevenue) {
                  return value + ' (Media)';
                } else {
                  return value.toString();
                }
              }
            }
          }
        },
        plugins: {
          annotation: {
            annotations: {
              averageLine: {
                type: 'line',
                mode: 'horizontal',
                value: averageRevenue,  // Use 'value' instead of 'y'
                borderColor: 'red',
                borderWidth: 2,
                label: {
                  enabled: true,
                  content: 'Media'
                }
              }
            }
          }
        }
      }
    });
  </script>
</body>
</html>
