<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleList.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .item {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
        }
        .item table {
            width: 100%;
        }
        .item th {
            text-align: left;
        }
        .item td {
            padding: 5px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
    <title>Collection Viewer</title>
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/add-document">Add document</a>
        <a href="/search" class="active">Search</a>
        <a href="/statistics">Statistics</a>
    </div>
    <div class="container">
        <h1>Collection Viewer</h1>
        <div class="items">
            {% for item in items %}
            <div class="item">
                <table>
                    {% for key, value in item.items() if key != "_id" %}
                    <tr>
                        <th>{{ key }}</th>
                        {% if value is list_or_dict %}
                        <td>
                            <code class="prettyprint lang-json">{{ value }}</code>
                            <pre class="prettyprint lang-json" hidden></pre>
                        </td>

                        {%else%}
                        <td>{{ value }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2">
                            <button onclick="deleteDocument('{{ col_name }}', '{{ item["_id"] }}')">Delete Document</button>
                            <a href="/update/{{ col_name }}/{{ item["_id"] }}"><button class="updateButton">Update Document</button></a>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
                    {% if current_page > 1 %}
        <a onclick="visitPage(1)">First</a>
        <a onclick="visitPage({{current_page-1}})">Previous</a>
        {% endif %}

        {% set start_page = current_page - 5 if current_page > 5 else 1 %}
        {% set end_page = current_page + 5 if current_page + 5 <= total_page else total_page %}

        {% for page_num in range(start_page, end_page+1) %}
        {% if page_num == current_page %}
        <span class="current-page">{{ page_num }}</span>
        {% else %}
        <a onclick="visitPage({{page_num}})">{{ page_num }}</a>
        {% endif %}
        {% endfor %}

        {% if current_page < total_page %}
        <a onclick="visitPage({{current_page+1}})" >Next</a>
        <a onclick="visitPage({{total_page}})">Last</a>
        {% endif %}

        </div>
    </div>

    <div class="loading-screen">
        <div class="loading-text">Loading...</div>
    </div>

    <script>

        function visitPage(page){
            const params = new URLSearchParams(window.location.search);
            params.set("page",page);
            // Redirect the user to the constructed URL
            window.location.href = '/apply-search?' + params.toString();
        }

        function deleteDocument(collectionName, documentId) {
            // Send an HTTP POST request to the Flask route for deleting the document
            fetch('/delete/' + collectionName + '/' + documentId, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Display a success or failure message based on the response
                    if (data.deleted_count === 1) {
                        alert('Document deleted successfully.');
                        // Refresh the page or update the UI as needed
                        location.reload();
                    } else {
                        alert('Failed to delete document.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        function hasAncestorWithClassName(node, className) {
          // Traverse up the DOM tree until reaching the top (document node)
          while (node.parentNode) {
            node = node.parentNode;

            // Check if the ancestor node has the specified class name
            if (node.classList && node.classList.contains(className)) {
              return node;
            }
          }
          // No ancestor with the specified class name found
          return null;
        }
        document.addEventListener("mousedown", function (event) {
            const ancestor=hasAncestorWithClassName(event.target,"prettyprint");
            if (event.target && ancestor!=null) {
                //event.target.hidden=true;
                const pre=ancestor.parentNode.getElementsByTagName("pre")[0];
                const code=ancestor.parentNode.getElementsByTagName("code")[0];
                if(pre.textContent.length<1) {
                    const data = code.textContent;
                    const js = JSON.parse(data);
                    const pretty = prettyPrintOne(JSON.stringify(js, null, 2));
                    pre.innerHTML = pretty;
                }
                pre.hidden=!pre.hidden;
                code.hidden=!code.hidden;
            }
        });
    </script>
    <script>addEventListener('load', function(event) { PR.prettyPrint(); }, false);</script>

</body>

</html>